<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>book_delete</servlet-name>
		<servlet-class>com.silla.library.book.Book_Delete</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>book_delete</servlet-name>
		<url-pattern>/book_delete.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>admin_member_update</servlet-name>
		<servlet-class>com.silla.library.member.Admin_Member_Update</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>admin_member_update</servlet-name>
		<url-pattern>/admin_member_update.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>book_update</servlet-name>
		<servlet-class>com.silla.library.book.Book_Update</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>book_update</servlet-name>
		<url-pattern>/book_update.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>book_management</servlet-name>
		<servlet-class>com.silla.library.book.BookManagement</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>book_management</servlet-name>
		<url-pattern>/book_management.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>reservation</servlet-name>
		<servlet-class>com.silla.library.seat.Reservation</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>reservation</servlet-name>
		<url-pattern>/reservation.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>rent</servlet-name>
		<servlet-class>com.silla.library.book.BookRental</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>rent</servlet-name>
		<url-pattern>/rent.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>member_list</servlet-name>
		<servlet-class>com.silla.library.member.Member_List</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>member_list</servlet-name>
		<url-pattern>/member_list.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>admin_login</servlet-name>
		<servlet-class>com.silla.library.member.AdminLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>admin_login</servlet-name>
		<url-pattern>/adminlogin.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>member_delete</servlet-name>
		<servlet-class>com.silla.library.member.Member_Delete</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>member_delete</servlet-name>
		<url-pattern>/member_delete.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>member_update</servlet-name>
		<servlet-class>com.silla.library.member.Member_Update</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>member_update</servlet-name>
		<url-pattern>/member_update.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>member_info</servlet-name>
		<servlet-class>com.silla.library.member.Member_Info</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>member_info</servlet-name>
		<url-pattern>/member_info.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>logout</servlet-name>
		<servlet-class>com.silla.library.member.LogOut</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>logout</servlet-name>
		<url-pattern>/logout.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>confirmid</servlet-name>
		<servlet-class>com.silla.library.member.Confirmid1</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>confirmid</servlet-name>
		<url-pattern>/confirmid1.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>join</servlet-name>
		<servlet-class>com.silla.library.member.Join</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>join</servlet-name>
		<url-pattern>/join.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>login</servlet-name>
		<servlet-class>com.silla.library.member.Login</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>login</servlet-name>
		<url-pattern>/login.do</url-pattern>
	</servlet-mapping>
	<context-param>
		<param-name>ds-resource-link</param-name>
		<param-value>jdbc/library_db</param-value>
	</context-param>
	<context-param>
		<param-name>db-book</param-name>
		<param-value>book</param-value>
	</context-param>
	<context-param>
		<param-name>db-member</param-name>
		<param-value>member</param-value>
	</context-param>
	<context-param>
		<param-name>db-admin</param-name>
		<param-value>admin</param-value>
	</context-param>
	<context-param>
		<param-name>db-rentlog</param-name>
		<param-value>rentlog</param-value>
	</context-param>
	<context-param>
		<param-name>db-room</param-name>
		<param-value>room</param-value>
	</context-param>
	<context-param>
		<param-name>db-seat</param-name>
		<param-value>seat</param-value>
	</context-param>
	<listener>
		<listener-class>com.silla.library.dbconn.MyServletContextListener</listener-class>
	</listener>
</web-app>